/* font-family: 'Bebas Neue', cursive; */


/*Généralité*/
body {
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

/*HEADER*/
header {
    position: relative;
}

/* .titleRed {
    color: red;
}

.titleBlue {
    color: blue;
} */

#banner {
    position: absolute;
    top: 50%;
    left: 50%;
    /* décalage de 50% de sa propre taille */
    transform: translate(-50%, -50%);
    margin-top: 8rem;
    font-size: 5rem;
}

/*MAIN*/
#gameField {
    display: flex;
}

.side {
    width: 50%;
    height: 100vh;
}

.blue {
    background-color: rgb(68, 104, 174);
}

.red {
    background-color: rgb(154, 16, 25);
}

/*FOOTER*/